
body {
    margin: 0;
}

/*----------NAVIGATION STYLING-----------*/

nav {
    background-color: rgb(77, 77, 77);
}
.logo {
    color: rgb(255, 255, 255);
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    float: right;
    margin: 20px;
}

.logo, .menu {
    display: inline-block;
}

.menu ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.menu ul li {
    display: inline-block;
    margin-right: 10px;
}

.menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 10px 20px 10px; 
}

.menu ul li a:hover{
    background-color: rgb(190, 20, 148);
    color: white;
    transition: all 0.5s ease;
}

/*---------HEADER STYLING---------*/

header {
    background-image: url('../images/nature.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

header h2 {
    color: rgb(62, 65, 64);
    margin: 0;
}

header h1 {
    color: rgb(62, 65, 64);
}

header a{
    text-decoration: none;
}

.hero-ctn {
    text-align: center;
    padding-top: 120px;
}

.btn-work, .btn-contact {
    background-color: rgb(114, 114, 114);
    display: inline-block;
    padding: 10px 25px;
    margin: 15px 10px;
    font-weight: bold;
    border-radius: 20px;
    border-style: solid;
    border-color: aqua;
    color: #fff;
}

.btn-work:hover, .btn-contact:hover {
background-color: aqua;
color: rgb(114, 114, 114);
transition: all 0.5s ease;
border-color: rgb(114, 114, 114);
}

